
<div class="game-container d-flex justify-content-center align-items-center">
    <div class="game shadow mt-5">
        <div class="map d-flex flex-column justify-content-center align-items-center">
            <div class="row-1"> 
                <img src="../../../assets/juegos/arena.png" width="60" class="sand-locker" alt="" (click)="checkCoords(0, 0, $event)">
                <img src="../../../assets/juegos/arena.png" width="60" class="sand-locker" alt="" (click)="checkCoords(0, 1, $event)">
                <img src="../../../assets/juegos/arena.png" width="60" class="sand-locker" alt="" (click)="checkCoords(0, 2, $event)">
                <img src="../../../assets/juegos/arena.png" width="60" class="sand-locker" alt="" (click)="checkCoords(0, 3, $event)">
                <img src="../../../assets/juegos/arena.png" width="60" class="sand-locker" alt="" (click)="checkCoords(0, 4, $event)">
                <img src="../../../assets/juegos/arena.png" width="60" class="sand-locker" alt="" (click)="checkCoords(0, 5, $event)">
                <img src="../../../assets/juegos/arena.png" width="60" class="sand-locker" alt="" (click)="checkCoords(0, 6, $event)">
            </div>
            <div class="row-2">
                <img src="../../../assets/juegos/arena.png" width="60" class="sand-locker" alt="" (click)="checkCoords(1, 0, $event)">
                <img src="../../../assets/juegos/arena.png" width="60" class="sand-locker" alt="" (click)="checkCoords(1, 1, $event)">
                <img src="../../../assets/juegos/arena.png" width="60" class="sand-locker" alt="" (click)="checkCoords(1, 2, $event)">
                <img src="../../../assets/juegos/arena.png" width="60" class="sand-locker" alt="" (click)="checkCoords(1, 3, $event)">
                <img src="../../../assets/juegos/arena.png" width="60" class="sand-locker" alt="" (click)="checkCoords(1, 4, $event)">
                <img src="../../../assets/juegos/arena.png" width="60" class="sand-locker" alt="" (click)="checkCoords(1, 5, $event)">
                <img src="../../../assets/juegos/arena.png" width="60" class="sand-locker" alt="" (click)="checkCoords(1, 6, $event)">
            </div>
            <div class="row-3">
                <img src="../../../assets/juegos/arena.png" width="60" class="sand-locker" alt="" (click)="checkCoords(2, 0, $event)">
                <img src="../../../assets/juegos/arena.png" width="60" class="sand-locker" alt="" (click)="checkCoords(2, 1, $event)">
                <img src="../../../assets/juegos/arena.png" width="60" class="sand-locker" alt="" (click)="checkCoords(2, 2, $event)">
                <img src="../../../assets/juegos/arena.png" width="60" class="sand-locker" alt="" (click)="checkCoords(2, 3, $event)">
                <img src="../../../assets/juegos/arena.png" width="60" class="sand-locker" alt="" (click)="checkCoords(2, 4, $event)">
                <img src="../../../assets/juegos/arena.png" width="60" class="sand-locker" alt="" (click)="checkCoords(2, 5, $event)">
                <img src="../../../assets/juegos/arena.png" width="60" class="sand-locker" alt="" (click)="checkCoords(2, 6, $event)">
            </div>
            <div class="row-4">
                <img src="../../../assets/juegos/arena.png" width="60" class="sand-locker" alt="" (click)="checkCoords(3, 0, $event)">
                <img src="../../../assets/juegos/arena.png" width="60" class="sand-locker" alt="" (click)="checkCoords(3, 1, $event)">
                <img src="../../../assets/juegos/arena.png" width="60" class="sand-locker" alt="" (click)="checkCoords(3, 2, $event)">
                <img src="../../../assets/juegos/arena.png" width="60" class="sand-locker" alt="" (click)="checkCoords(3, 3, $event)">
                <img src="../../../assets/juegos/arena.png" width="60" class="sand-locker" alt="" (click)="checkCoords(3, 4, $event)">
                <img src="../../../assets/juegos/arena.png" width="60" class="sand-locker" alt="" (click)="checkCoords(3, 5, $event)">
                <img src="../../../assets/juegos/arena.png" width="60" class="sand-locker" alt="" (click)="checkCoords(3, 6, $event)">
            </div>
            <div class="row-5">
                <img src="../../../assets/juegos/arena.png" width="60" class="sand-locker" alt="" (click)="checkCoords(4, 0, $event)">
                <img src="../../../assets/juegos/arena.png" width="60" class="sand-locker" alt="" (click)="checkCoords(4, 1, $event)">
                <img src="../../../assets/juegos/arena.png" width="60" class="sand-locker" alt="" (click)="checkCoords(4, 2, $event)">
                <img src="../../../assets/juegos/arena.png" width="60" class="sand-locker" alt="" (click)="checkCoords(4, 3, $event)">
                <img src="../../../assets/juegos/arena.png" width="60" class="sand-locker" alt="" (click)="checkCoords(4, 4, $event)">
                <img src="../../../assets/juegos/arena.png" width="60" class="sand-locker" alt="" (click)="checkCoords(4, 5, $event)">
                <img src="../../../assets/juegos/arena.png" width="60" class="sand-locker" alt="" (click)="checkCoords(4, 6, $event)">
            </div>
            <div class="row-6">
                <img src="../../../assets/juegos/arena.png" width="60" class="sand-locker" alt="" (click)="checkCoords(5, 0, $event)">
                <img src="../../../assets/juegos/arena.png" width="60" class="sand-locker" alt="" (click)="checkCoords(5, 1, $event)">
                <img src="../../../assets/juegos/arena.png" width="60" class="sand-locker" alt="" (click)="checkCoords(5, 2, $event)">
                <img src="../../../assets/juegos/arena.png" width="60" class="sand-locker" alt="" (click)="checkCoords(5, 3, $event)">
                <img src="../../../assets/juegos/arena.png" width="60" class="sand-locker" alt="" (click)="checkCoords(5, 4, $event)">
                <img src="../../../assets/juegos/arena.png" width="60" class="sand-locker" alt="" (click)="checkCoords(5, 5, $event)">
                <img src="../../../assets/juegos/arena.png" width="60" class="sand-locker" alt="" (click)="checkCoords(5, 6, $event)">
            </div>
            <div class="row-7">
                <img src="../../../assets/juegos/arena.png" width="60" class="sand-locker" alt="" (click)="checkCoords(6, 0, $event)">
                <img src="../../../assets/juegos/arena.png" width="60" class="sand-locker" alt="" (click)="checkCoords(6, 1, $event)">
                <img src="../../../assets/juegos/arena.png" width="60" class="sand-locker" alt="" (click)="checkCoords(6, 2, $event)">
                <img src="../../../assets/juegos/arena.png" width="60" class="sand-locker" alt="" (click)="checkCoords(6, 3, $event)">
                <img src="../../../assets/juegos/arena.png" width="60" class="sand-locker" alt="" (click)="checkCoords(6, 4, $event)">
                <img src="../../../assets/juegos/arena.png" width="60" class="sand-locker" alt="" (click)="checkCoords(6, 5, $event)">
                <img src="../../../assets/juegos/arena.png" width="60" class="sand-locker" alt="" (click)="checkCoords(6, 6, $event)">
            </div>
        </div>

        <div class="hints flex-column d-flex justify-content-center align-items-center">
            <div class="hint">
                <h3 class="text-center">{{hint}}</h3>
            </div>
            <h3 *ngIf="gameOver" class="text-center">Puntaje: {{score}}</h3>
            <button *ngIf="gameOver" class="btn btn-primary " (click)="resetGame()">Jugar de nuevo</button>
        </div>
    </div>
</div>