
<div class="game-container d-flex justify-content-center align-items-center">
    <div class="game shadow mt-5">
        <div class="game-input">
            <img *ngIf="!lose" src="../../../assets/juegos/persona_ahorcado.png" class="foto-ahorcado" alt="Ahorcado" width="180">
            <img *ngIf="lose" src="../../../assets/juegos/persona_ahorcado_perdio.png" class="foto-ahorcado" alt="Ahorcado perdio" width="180">

            <div class="d-flex flex-column align-items-center justify-content-center">
                <div class="hearts mb-5 mt-1">
                    @for (heart of getLifesArray(); track $index) {
                        <fa-icon [icon]="faHeart" class="heart mx-1"></fa-icon>
                    }
                    
                    @for (heart of getNotLifesArray(); track $index) {
                        <fa-icon [icon]="faHeart" class="not-heart mx-1"></fa-icon>
                    }
                </div>
                
                <div class="ahorcado-palabra mt-3">
                    @for (letter of wordUser; track $index) {
                        <p class="ahorcado-letra">{{letter}}</p>
                    }
                </div>
            </div>
        </div>

        <div *ngIf="gameOver" class="container-alert position-absolute z-3 mt-5">
            @if (lose) {
                <div class="alert alert-danger p-3" role="alert">
                    <h4 class="alert-heading">¡Lo siento! =(</h4>
                    <p>Has perdido, la palabra era: <strong>{{wordSelected}}</strong></p>
                    <hr>
                    <p class="mb-0">¿Quieres jugar de nuevo?</p>
                    <button class="btn btn-primary mt-3" (click)="resetGame()">Jugar de nuevo</button>
                </div>
            }
            @else {
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">¡Felicidades!</h4>
                    <p>Has ganado, la palabra era: <strong>{{wordSelected}}</strong></p>
                    <hr>
                    <p class="mb-0">¿Quieres jugar de nuevo?</p>
                    <button class="btn btn-primary mt-3" (click)="resetGame()">Jugar de nuevo</button>
                </div>
            }
        </div>

        <div class="keyboard mb-4 d-flex flex-column justify-content-center align-items-center shadow">
            <div class="row-1">
                <button class="letter" (click)="getLetter('Q', $event)">Q</button>
                <button class="letter" (click)="getLetter('W', $event)">W</button>
                <button class="letter" (click)="getLetter('E', $event)">E</button>
                <button class="letter" (click)="getLetter('R', $event)">R</button>
                <button class="letter" (click)="getLetter('T', $event)">T</button>
                <button class="letter" (click)="getLetter('Y', $event)">Y</button>
                <button class="letter" (click)="getLetter('U', $event)">U</button>
                <button class="letter" (click)="getLetter('I', $event)">I</button>
                <button class="letter" (click)="getLetter('O', $event)">O</button>
                <button class="letter" (click)="getLetter('P', $event)">P</button>
            </div>
            <div class="row-2">
                <button class="letter" (click)="getLetter('A', $event)">A</button>
                <button class="letter" (click)="getLetter('S', $event)">S</button>
                <button class="letter" (click)="getLetter('D', $event)">D</button>
                <button class="letter" (click)="getLetter('F', $event)">F</button>
                <button class="letter" (click)="getLetter('G', $event)">G</button>
                <button class="letter" (click)="getLetter('H', $event)">H</button>
                <button class="letter" (click)="getLetter('J', $event)">J</button>
                <button class="letter" (click)="getLetter('K', $event)">K</button>
                <button class="letter" (click)="getLetter('L', $event)">L</button>
                <button class="letter" (click)="getLetter('Ñ', $event)">Ñ</button>
            </div>
            <div class="row-3">
                <button class="letter" (click)="getLetter('Z', $event)">Z</button>
                <button class="letter" (click)="getLetter('X', $event)">X</button>
                <button class="letter" (click)="getLetter('C', $event)">C</button>
                <button class="letter" (click)="getLetter('V', $event)">V</button>
                <button class="letter" (click)="getLetter('B', $event)">B</button>
                <button class="letter" (click)="getLetter('N', $event)">N</button>
                <button class="letter" (click)="getLetter('M', $event)">M</button>
            </div>
        </div>


    </div>
</div>