.btn {
    width: 100%;
    background-color: #ffc007;
    color: black;
    font-weight: bold;
    border: black;
    font-size: large;
}
.btn:hover {
    background-color: #ffa602;
    color: black;
}

.card {
    border: none; 
    position: relative;
    z-index: 1;
}