<h2>Iniciar sesion</h2>


<label for="">Correo electronico</label>
<input id="email" type="text" [(ngModel)]="email">

<label for="">Contraseña</label>
<input id="pass" type="password" [(ngModel)]="pass">

@if (errorMsg != '') {
    <p style="color: red">{{errorMsg}}</p>
}

<br><br>
<button (click)="login()">Iniciar sesion</button>

<!-- <button (click)="GetData()">Obtener logs</button> -->
<br>
<button routerLink="../register">Crear cuenta nueva</button>

<br>
<button (click)="fillInputs()">Completar datos</button>

@if (loggedUser != '') {
    <h3>Usuario iniciado: {{loggedUser}}</h3>
}