<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 quiensoy-container">
        <div class="card shadow mt-4">
          <div class="card-header">
            <h1 class="text-center my-3">Quien soy</h1>
          </div>
          <div class="card-body mt-2">
            <div class="d-flex justify-content-center">
                <img width="200" src="../../../assets/yo.jpg" class="custom-img" alt="Mi foto">
            </div>
            <h3 class="h3-dato">Mis datos</h3>
            <p class="p-dato">Lautaro Monserrat</p>
            <p class="p-dato">20 años</p>

            <h5 class="mt-4">Tecnologias</h5>
            <i class="devicon-cplusplus-plain colored custom-icon mx-1"></i>
            <i class="devicon-csharp-plain colored custom-icon mx-1"></i>
            <i class="devicon-azuresqldatabase-plain custom-icon mx-1"></i>
            <i class="devicon-php-plain colored custom-icon mx-1"></i>
            <i class="devicon-javascript-plain colored custom-icon mx-1"></i>
            <i class="devicon-nodejs-plain colored custom-icon mx-1"></i>
            <i class="devicon-mongodb-plain colored custom-icon mx-1"></i>
          
            <div class="border-bottom mt-3 mb-3"></div>
            <h3>Busca el tesoro</h3>
            <h5>Explicacion</h5>
            <p>Es un juego donde el jugador busca un tesoro escondido en un tablero de 7x7. El juego proporciona pistas basadas en la proximidad del jugador al tesoro. El objetivo es encontrar el tesoro en el menor número de intentos posible.</p>
            
            <h5>Puntuacion</h5>
            <p>La puntuacion inicial y mas alta es de 500 puntos, por cada casillero fallido se restaran 10 puntos.</p>
          </div>
        </div>
      </div>
    </div>
</div>
